@import "https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap";
//////////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  // @media only screen and (max-width: $bp-medium) {
  //   display: flex;
  //   margin: 0;
  // }

  &_item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0rem;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }

  &_list-unstyled {
    color: var(--color-grey-dark-1);
    background-color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 1.5rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &_list-unstyled:hover {
    color: var(--color-primary);
    text-decoration: none;
  }

  &_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-grey-dark-1);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &_item:hover::before,
  &_item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &_item:active::before {
    background-color: var(--color-primary-light);
  }

  &_link {
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
  }

  &_link:link,
  &_link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &_icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // cuurent color or parent color
  }
}

//////////////////////////////////////////////////
// CONTENT

.content {
  width: 100%;

  &_navbar {
    background-color: var(--color-grey-dark-1);
    margin-bottom: 3rem;

    &-brand {
      color: var(--color-primary);

      &:hover {
        color: var(--color-grey-light-4);
      }
    }

    &-item a {
      color: var(--color-grey-light-4);
      text-transform: uppercase;

      &:hover {
        color: var(--color-primary);
      }
    }

    &-form {
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      margin-left: 1rem;
    }

    &-btn {
      border: none;
      border-radius: 0;
      background-color: var(--color-primary);
      color: var(--color-grey-light-1);
    }

    &-btn-toggler {
      border-color: var(--color-primary);

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 47, 100, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  }

  &_sub-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 0.5rem solid var(--color-primary);

    h2 {
      font-family: "Gochi Hand", cursive;
      font-size: 2.5rem;
      color: var(--color-primary);
    }

    &_icon {
      height: 8rem;
      width: 8rem;
      margin-left: 3rem;
      fill: var(--color-primary); // cuurent color or parent color
    }
  }

  &_main {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;

    &_header {
      background-color: var(--color-grey-light-1);
      padding: 1.75rem 1.5rem 1.5rem 1.5rem;
      font-size: 2.5rem;
      margin-bottom: 5rem;
      text-transform: uppercase;
      color: var(--color-grey-dark-1);
      text-align: center;
    }

    &_tab {
      padding: 0 1.75rem;
    }

    h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p {
      text-align: justify;
    }

    hr {
      margin: 2rem 0 4rem 0;
    }

    &-card {
      // position: absolute;
      padding: 1rem;
      width: 86.5vw;
      border: 0.2rem solid var(--color-primary);
      margin-bottom: 5rem;

      &-header {
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: var(--color-primary);
        position: relative;
        top: -3rem;
        left: 1.5rem;
        width: max-content;
        padding: 1.2rem 1.5rem 0.5rem 1.5rem;
      }

      h4 {
        font-size: 2rem;
        text-transform: uppercase;
      }

      &_icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
        fill: currentColor;
      }
    }
  }
}
// form
form {
  margin-bottom: 3rem;

  .btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0;
  }
}

.form-group {
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 0.3rem solid var(--color-primary);
  }
}

.form-row {
  margin-bottom: 2rem;
}
// end form

// Dropdowns
#accordion {
  .card {
    border-radius: 0;

    a {
      text-decoration: none;
      color: var(--color-grey-light-4);
      text-transform: uppercase;
    }

    &-header-dropdown {
      background-color: var(--color-primary);
    }
  }
}

// contact description
.contact-content {
  list-style: none;

  &_item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0rem;
      }
    }
  }

  &_icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    color: var(--color-primary);
  }
}

// Users nav
.nav-tabs {
  border: none;
  color: var(--color-grey-light-1);
  background: #272e38;
  border-radius: 0;

  &-link,
  &-link.active {
    border: none;
    padding: 18px 25px;
    color: var(--color-grey-light-1);
    background: #272e38;
    border-radius: 0;
  }

  &-link:hover,
  &-link:focus {
    border: none;
    text-decoration: none;
    background: #e74c3c;
    color: var(--color-grey-light-1);
    border-radius: 0;
    transition: background 0.2s linear;
  }

  &-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c;
  }
}
.tab-content {
  background: var(--color-grey-light-1);
  line-height: 25px;
  border: 1px solid #ddd;
  color: var(--color-grey-dark-1);
  // border-top: 5px solid #e74c3c;
  // border-bottom: 5px solid #e74c3c;
}

.tab-pane {
  padding: 3rem 1rem 1rem 1rem;
}

// content_main_side-bar
.content_main_side-bar {
  // display: flex;

  &-nav {
    background-color: var(--color-primary);
    // flex: 0 0 12%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
}

// Buttons
.btn-content_main {
  border: none;
  padding: 1rem;
  border-radius: 0;
  background-color: var(--color-primary);
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 0rem;
    }
  }
}

.form-content_main {
  height: 10rem;
  border-radius: 0;
}
